body {
	font-family: 'Oswald', sans-serif;
	background-color: #f7f7f7;
}

body::after {
	content: "";
	background-image: url(../img/bg.png);
	opacity: 0.1;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

.container {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/* Navigation */

header {
	border-top: 5px solid #7e7e7e;
}

.top-header {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}

.search-bar {
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.search-bar [type="text"] {
	background-color: #f3f3f3;
	border: none;
	border: 1px solid #e7e7e7;
	border-right: none;
	width: 157px;
	height: 30px;
	padding: 0;
	margin: 0;
}

.search-bar [type="submit"] {
	background-color: #29c5e6;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	border: none;
	border: 1px solid #29c5e6;
	width: 42px;
	height: 32px;
	padding: 0;
	margin: 0;
}

.top-nav {
	background-color: #f3f3f3;
	margin-top: 25px;
}

.link__items {
	display: flex;
	align-items: center;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 38px;
}

.link__item a {
	display: block;
	min-width: 120px;
	height: 40px;
	font-size: 14px;
	color: #c8c8c8;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.link__item a:hover {
	background-color: #29c5e6;
	color: #fff;
}

.link__item.active a {
	background-color: #29c5e6;
	color: #fff;
}

/* Slider */

.heading {
	position: relative;
	max-width: 100%;
	margin-top: 30px;
	padding: 35px 0 220px 40px;
	background-color: #e2e2e2;
}

.heading h1 {
	font-size: 42px;
	font-weight: lighter;
	color: #5a5a5a;
	text-transform: uppercase;
	margin-bottom: 12px;
}

.heading p {
	font-size: 20px;
	font-weight: lighter;
	color: #b7b7b7;
}

.tab-content {
	display: none;
	animation: fadeEffect 2s;
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

.tab-content:first-of-type {
	display: block;
}

.tabs {
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	background-color: #f3f3f3;
}

.tabs ol {
	display: flex;
	padding: 16px 10px;
}

.tabs li {
	flex: 1 1 25%;
	font-size: 18px;
	font-weight: lighter;
	text-transform: uppercase;
	color: #8f8f8f;
	cursor: pointer;
	transition: all 0.4s ease;
}

.tabs li span {
	margin-right: 12px;
	padding: 2px 10px;
	background-color: #8f8f8f;
	color: #fff;
	cursor: pointer;
	transition: all 0.4s ease;
}

.tabs li.active {
	color: #29c5e6;
}

.tabs li.active span {
	background-color: #29c5e6;
}

/* About & Testimonials */
section {
	margin-top: 30px;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

h3 {
	position: relative;
	margin-bottom: 15px;
	padding-left: 20px;
	font-size: 14px;
	color: #7e7e7e;
	text-transform: uppercase;
}

h3::before {
	content: '';
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	background-color: #29c5e6;
	top: 0;
	left: 0;
}

h3::after {
  content: "";
  background-image: url(../img/tile-pattern.png);
	position: absolute;
	width: 305px;
	height: 15px;
	top: 0;
	left: 155px;
}

.about {
	flex: 0 1 460px;
}

.testimonial {
	flex: 0 1 460px;
}

.desc {
	display: flex;
}

.box {
	position: relative;
	margin-right: 20px;
	padding: 70px;
	background-color: #e2e2e2;
	border: 1px solid #fff;
}

.box::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: -2px;
	left: -2px;
	bottom: -2px;
	right: -2px;
	border: 1px solid #c9c9c9;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about p {
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 1.2px;
	line-height: 15px;
	color: #8f8f8f;
	text-align: justify;
}

.about span {
	font-size: 12px;
	color: #525252;
	text-decoration: underline;
}

.testimonial p {
	font-size: 12px;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 1.2px;
	line-height: 15px;
	color: #8f8f8f;
	text-align: justify;
}

.testimonial span {
	font-family: Tahoma;
	font-size: 12px;
	letter-spacing: 1px;
	color: #525252;
}